[submodule "babylon4awk"]
	path = babylon4awk
	url = git@github.com:mmalohlava/babylon4awk.git
[submodule "babylon4R"]
	path = babylon4R
	url = git@github.com:mmalohlava/babylon4R.git
[submodule "babylon4shell"]
	path = babylon4shell
	url = git@github.com:mmalohlava/babylon4shell.git
[submodule "babylon4clojure"]
	path = babylon4clojure
	url = git@github.com:mmalohlava/babylon4clojure.git
